
* {
    transition: all 0.2s;
}

$frances--font: "Fraunces", serif;

body {
    background-color: #F2F2F2;
    font-family: $frances--font;
    padding-bottom: 70px;
}


@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.main-section {

    padding: 0px 25px;
    box-sizing: border-box;

    .main--header {
        @include flex-row();
        padding: 32px 0px;
        box-sizing: border-box;

        .logo-div {
            @include flex-row();
            gap: 5px;
            // font-family: $frances--font;
            font-size: 20px;
            font-weight: 700;
            color: #333D4B;
        }

        .main--navigation {
            position: absolute;
            width: 100%;
            height: calc(100vh - 90px) !important;
            height: 90px;
            top: 89px;
            left: 0;
            text-align: center;
            padding-top: 50px;
            box-sizing: border-box;
            font-size: 24px;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            
            background: linear-gradient( #F2F2F2, 
            rgba(242, 242, 242, 1), 
            rgba(242, 242, 242, 0.9),
            rgba(242, 242, 242, 0.7),
            rgba(242, 242, 242, 0.5));

            display: none;


            .navigation--open {
                animation-name: navigation-open;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }

            @keyframes navigation-open {
                0%{
                    display: block !important;
                    background: linear-gradient( #F2F2F2, 
                    rgba(242, 242, 242, 0), 
                    rgba(242, 242, 242, 0), 
                    rgba(242, 242, 242, 0), 
                    rgba(242, 242, 242, 0));
                    
                } 100% {
                    display: block !important;
                    background: linear-gradient( #F2F2F2, 
                    rgba(242, 242, 242, 0.5), 
                    rgba(242, 242, 242, 0.3), 
                    rgba(242, 242, 242, 0.1), 
                    rgba(242, 242, 242, 0));
                }
            }



            ul {
                @include flex-column();
                align-items: start;
                gap: 45px;
                position: relative;

                background-color: gray;

                li {                
                    width: fit-content;
                    position: absolute;

                    a {
                        color: #333D4B;
                    }
    
                }

                .li--home {
                    top: 0;
                    left: 0;
                    transform: translateX(-100%);

                }

                .li--about {
                    top: 60px;
                    right: 0;
                    transform: translateX(100%);
                }

                .li--create {
                    top: 120px;
                    left: 0;
                    transform: translateX(-100%);
                }

                
                .li-home--open {
                    animation-name: liHome-open;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }

                .li-about--open {
                    animation-name: liAbout-open;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }

                .li-create--open {
                    animation-name: liCreatet-open;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }



                @keyframes liHome-open {
                    0%{
                        left: 0;
                        transform: translateX(-100%);
                    }

                    100% {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }

                @keyframes liAbout-open {
                    0% {
                        right: 0;
                        transform: translateX(100%);
                    } 100% {
                        right: 50%;
                        transform: translateX(50%);
                    }
                }

                @keyframes liCreatet-open {
                    0%{
                        left: 0;
                        transform: translateX(-100%);
                    } 100% {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }



                .li-home--close {
                    animation-name: liHome-close;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }
                
                .li-about--close {
                    animation-name: liAbout-close;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }

                .li-create--close {
                    animation-name: liCreate-close;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }


                @keyframes liHome-close {
                    0%{
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    100% {
                        left: 0;
                        transform: translateX(-100%);
                    }
                }

                @keyframes liAbout-close {
                    0% {
                        right: 50%;
                        transform: translateX(50%);
                    } 100% {
                        right: 0;
                        transform: translateX(100%);
                    }
                }

                @keyframes liCreate-close {
                    0%{
                        left: 50%;
                        transform: translateX(-50%);
                    } 100% {
                        left: 0;
                        transform: translateX(-100%);
                    }
                }

            }


        }

        .close-open--btns {
            width: 20px;
            height: 20px;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;

            .menu-lines {
                width: 100%;
                height: 3px;
                border-radius: 15px;
                background-color: rgb(0, 0, 0);
                position: absolute;
            }

            .line--1 {
                top: 5%;
            }

            .line--2 {
                top: 50%;
                transform: translateY(-50%);
            }

            .line--3 {
                bottom: 5%;
            }


            
            
            // transfrom burger sign into X

            .line--1__close {
                animation-name: lineClose-1;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }

            .line--2__close {
                animation-name: lineClose-2;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }

            .line--3__close {
                animation-name: lineClose-3;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }



            @keyframes lineClose-1 {
                0% {
                    top: 5%;
                }

                50% {
                    top: 50%;
                    transform: translateY(-50%);
                }

                100% {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }
            }

            @keyframes lineClose-2 {
                0%{
                    display: block;
                }

                50% {
                    display: none;
                }

                100% {
                    display: none;
                }
            }

            @keyframes lineClose-3 {
                0%{
                    bottom: 5%;
                }

                50% {
                    bottom: 50%;
                    transform: translateY(50%);
                }

                100% {
                    bottom: 50%;
                    transform: translateY(50%) rotate(-45deg);
                }
            }



            

            // transfrom X sign into burger

            .line--1__burger {
                animation-name: lineBurger-1;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }

            .line--2__burger {
                animation-name: lineBurger-2;
                animation-duration: 2s;
                animation-fill-mode: forwards;
            }

            .line--3__burger {
                animation-name: lineBurger-3;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }


            @keyframes lineBurger-1 {
                0% {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }

                50% {
                    top: 50%;
                    transform: translateY(-50%) rotate(0deg);
                }

                100% {
                    top: 5%;
                    transform: translateY(0%) rotate(0deg);
                }
            }
            
            @keyframes lineBurger-2 {
                0%{
                    display: none;
                }

                50% {
                    display: block;
                    visibility: hidden;
                }

                100% {
                    display: block;
                    visibility: visible;
                }
            }

            @keyframes lineBurger-3 {
                0%{
                    bottom: 50%;
                    transform: translateY(50%) rotate(-45deg);
                }

                50% {
                    bottom: 50%;
                    transform: translateY(50%) rotate(0deg);
                }

                100% {
                    bottom: 5%;
                    transform: translateY(50%) rotate(0deg);
                }
            }






        }
    }

    .main--hgroup {
        text-align: center;
        padding: 100px 25px;
        box-sizing: border-box;
        border-radius: 10px;

        background-image: url(./assets/home/mobile/image-hero-coffeepress.jpg);
        background-size: cover;
        color: #FEFCF7;


        h1 {
           font-size: 40px;
           font-weight: 700;
           margin-bottom: 27px;
                          
           span {
            display: block;
           }
        }

        p {
            font-size: 15px;
            line-height: 25px;
            color: rgba(254, 252, 247, 0.6);
            margin-bottom: 40px;
        }

        .btn {
            width: 217px;
            height: 56px;
            border-radius: 6px;
            border: none;
            outline: none;

            font-size: 18px;
            font-weight: 700;
            background-color: #0E8784;
            color: #FEFCF7;
            font-family: $frances--font;
        }

    }


}



.section--collection {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;


    h2 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
        color: #333D4B;
    }

    figure {
        margin-bottom: 85px;

        &:last-child {
            margin-bottom: 0;
        }

        img {
            width: 200px;
            margin-bottom: 30px;
        }
    
        figcaption {
    
            padding: 0px 25px;
            box-sizing: border-box;
            text-align: center;
            // margin-bottom: 90px;
    
            h3 {
                font-size: 24px;
                font-weight: 700;
                color: #333D4B;
                margin-bottom: 15px;
            }
    
            p {
                font-size: 15px;
                font-weight: 400;
                color: #333D4B;
                letter-spacing: 1px;
                line-height: 25px;
            }
        }
    }


}



.section--whyus {
    padding: 0px 25px;
    padding-top: 330px;
    text-align: center;
    position: relative;

    .why-choose-us {
        background-color: #2C343E;
        padding: 60px 25px;
        box-sizing: border-box;
        color: #FEFCF7;
        border-radius: 10px;

        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        top: 0px;


        width: calc(100% - 50px);
        height: 945px;

        h2 {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 25px;
        }

        p {
            font-size: 15px;
            line-height: 25px;
            color: rgba(254, 252, 247, 0.6);
        }
    }


    figure {
        background-color: #0E8784;
        width: calc(100% - 50px);
        margin: auto;
        border-radius: 10px;
        padding: 68px 25px;
        box-sizing: border-box;
        color: #FEFCF7;

        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }

        h3 {
            font-size: 24px;
            font-weight: 700;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        p {
            font-size: 15px;
            line-height: 25px;
        }

    }



}


.section--howitworks {
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
    padding: 0px 25px;
    box-sizing: border-box;

    .steps-cirles {
        display: none;
    }

    .steps {
        margin-bottom: 70px;
        &:last-child{
            margin-bottom: 0px;
        }
    }

    h2 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 65px;
    }

    strong {
        font-size: 72px;
        font-weight: 700;
        color: #FDD6BA;
        margin-bottom: 28px;
        display: block;
    }

    hgroup {

        color: #333D4B;

        h3 {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 25px;
        }

        p {
            font-size: 15px;
            line-height: 25px;
        }
    }
}


footer {
    width: calc(100% - 50px);
    background-color: #2C343E;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    padding: 50px 0px;
    box-sizing: border-box;

    .logo-div {
        @include flex-row();
        justify-content: center;
        gap: 7px;
        font-size: 20px;
        font-weight: 700;
        color: #FEFCF7;
        margin-bottom: 30px;
    }

    ul{
        li {

            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0px;
            }

            a {
                color: #83888F;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }

    .social-medias {
        margin-top: 50px;
        @include flex-row();
        justify-content: center;
        gap: 15px;
    }
}


@media (min-width:760px) {

    .main-section {

        padding: 0px 40px;
        box-sizing: border-box;
    
        .main--header {
   
            .main--navigation {
                position: static;
                background: none;
                height: 100% !important;
                padding: 0 !important; 
                font-size: 12px;    
                display: block;
    
    
                .navigation--open {
                    animation-name: navigation-open;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }
    
                @keyframes navigation-open {
                    0%{
                        display: block !important;
                        background: linear-gradient( #F2F2F2, 
                        rgba(242, 242, 242, 0), 
                        rgba(242, 242, 242, 0), 
                        rgba(242, 242, 242, 0), 
                        rgba(242, 242, 242, 0));
                        
                    } 100% {
                        display: block !important;
                        background: linear-gradient( #F2F2F2, 
                        rgba(242, 242, 242, 0.5), 
                        rgba(242, 242, 242, 0.3), 
                        rgba(242, 242, 242, 0.1), 
                        rgba(242, 242, 242, 0));
                    }
                }
    
    
    
                ul {
                    @include flex-row();
                    justify-content: right;
                    align-items: start;
                    position: static;
                    background: none;
    
                    li {                
                        position: static;
                        transform: translate(0) !important;
    
                        // a {
                        //     color: #333D4B;
                        // }
        
                    }
    
                }
    
    
            }
    
            .close-open--btns {
                display: none;        
            }
        }
    
        .main--hgroup {
            text-align: left;
            padding: 100px 25px;   
            background-image: url(./assets/home/tablet//image-hero-coffeepress.jpg);

            p {
                width: 420px;
            }    
        }    
    
    }

    .section--collection {    
    
        h2 {
            font-size: 120px;
        }
    
        figure {
            @include flex-row();
            justify-content: center;
            align-items: start;
    
            img {
                width: 280px;
                margin-bottom: 30px;
            }
        
            figcaption {
                max-width: 350px;
                text-align: left;
            }
        }
    
    
    }

    .section--whyus {
        padding: 0px 40px;
        padding-top: 250px;
    
        .why-choose-us {    
            width: calc(100% - 80px);
            height: 560px;
    
            h2 {
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 25px;
            }
    
            p {
                font-size: 15px;
                line-height: 25px;
                color: rgba(254, 252, 247, 0.6);
            }
        }
    
    
        figure {
            padding: 45px 90px;
            box-sizing: border-box;
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            text-align: left;
    
            img {
                width: 56px;
                height: 56px;
            }
    
            h3 {
                margin-top: 0px;
            }
        
        }
    
    
    
    }

    .section--howitworks {
        text-align: left;
        padding: 0px 40px;



        .steps-cirles {

            display: flex;
            align-items: center !important;
            margin-bottom: 48px;

            .circle {
                width: 31px;
                height: 31px;
                border-radius: 50%;
                border: 2px solid #0E8784;
            }
            .steps--line {
                width: 200px;
                height: 2px;
                background-color: #FDD6BA;
            }
        }


        .steps-div {
            display: flex;
            gap: 80px;
        }
    
        .steps {
            margin-bottom: 70px;
            
            &:last-child{
                margin-bottom: 0px;
            }
        }
    
    }

    footer {
        width: calc(100% - 80px);
        padding: 50px 0px;

        ul{

            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: center;
            margin-bottom: 80px;

            li {
                margin: 0;
            }
        }
    
    }




}

@media (min-width: 1100px) {

    .main-section {

        padding: 0px 40px;
        box-sizing: border-box;
        max-width: 1280px;
        margin: auto;
    
        // .main--header {
   
        //     .main--navigation {
        //         position: static;
        //         background: none;
        //         height: 100% !important;
        //         padding: 0 !important; 
        //         font-size: 12px;    
        //         display: block;
    
    
        //         .navigation--open {
        //             animation-name: navigation-open;
        //             animation-duration: 1s;
        //             animation-fill-mode: forwards;
        //         }
    
        //         @keyframes navigation-open {
        //             0%{
        //                 display: block !important;
        //                 background: linear-gradient( #F2F2F2, 
        //                 rgba(242, 242, 242, 0), 
        //                 rgba(242, 242, 242, 0), 
        //                 rgba(242, 242, 242, 0), 
        //                 rgba(242, 242, 242, 0));
                        
        //             } 100% {
        //                 display: block !important;
        //                 background: linear-gradient( #F2F2F2, 
        //                 rgba(242, 242, 242, 0.5), 
        //                 rgba(242, 242, 242, 0.3), 
        //                 rgba(242, 242, 242, 0.1), 
        //                 rgba(242, 242, 242, 0));
        //             }
        //         }
    
    
    
        //         ul {
        //             @include flex-row();
        //             justify-content: right;
        //             align-items: start;
        //             position: static;
        //             background: none;
    
        //             li {                
        //                 position: static;
        //                 transform: translate(0) !important;
    
        //                 // a {
        //                 //     color: #333D4B;
        //                 // }
        
        //             }
    
        //         }
    
    
        //     }
    
        //     .close-open--btns {
        //         display: none;        
        //     }
        // }
    
        .main--hgroup {
            // text-align: left;
            // padding: 100px 25px;   
            background-image: url(./assets/home/desktop/image-hero-coffeepress.jpg);

            // p {
            //     width: 420px;
            // }    
        }    
        
    
    }



    .section--collection {  
        max-width: 1280px;
        margin: auto;  
        margin-bottom: 150px;
        margin-top: 150px;

        div {
            display: flex;
        }
    
        h2 {
            font-size: 120px;
        }
    
        figure {
            @include flex-column();
            justify-content: center;
            align-items: center;
            margin: 0;
    
            img {
                width: 250px;
            }
        
            figcaption {
                max-width: 350px;
                text-align: center;
            }
        }
    
    
    }

    .section--whyus {
        padding: 0px 40px;
        padding-top: 200px;
        max-width: 1280px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    
        .why-choose-us {    
            height: 460px;
    
            h2 {
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 25px;
            }
    
            p {
                font-size: 15px;
                line-height: 25px;
                color: rgba(254, 252, 247, 0.6);
            }
        }
    
    
        figure {
            padding: 45px 50px;
            max-width: 350px;
            box-sizing: border-box;
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            text-align: center;
            transform: translateY(20%);

            margin: 0;
    
            img {
                width: 56px;
                height: 56px;
            }
    
            h3 {
                margin-top: 0px;
            }
        
        }
    
    
    
    }

    .section--howitworks {
        text-align: left;
        padding: 0px 50px;

        max-width: 1280px;
        margin: auto;
        margin-top: 250px;



        .steps-cirles {

            display: flex;
            align-items: center !important;
            margin-bottom: 48px;

            .circle {
                width: 31px;
                height: 31px;
                border-radius: 50%;
                border: 2px solid #0E8784;
            }
            .steps--line {
                width: 200px;
                height: 2px;
                background-color: #FDD6BA;
            }
        }


        .steps-div {
            display: flex;
            gap: 80px;
        }
    
        .steps {
            margin-bottom: 70px;
            
            &:last-child{
                margin-bottom: 0px;
            }
        }
    
    }


    footer {
        max-width: 1280px;
        margin: auto;
        padding: 50px 100px;

        // background-color: #2C343E;
        // border-radius: 10px;
        // margin: auto;
        // text-align: center;
        // padding: 50px 0px;
        // box-sizing: border-box;


        display: flex;
        justify-content: space-between;
    
        .logo-div {
            // @include flex-row();
            // justify-content: center;
            // gap: 7px;
            // font-size: 20px;
            // font-weight: 700;
            // color: #FEFCF7;


            margin: 0;
        }

        .xxxx {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;
        }
    
        ul{

            margin: 0;
            li {
    
                margin: 0;
    
                &:last-child {
                    margin-bottom: 0px;
                }
    
                a {
                    color: #83888F;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    
        .social-medias {
            margin-top: 50px;
            @include flex-row();
            justify-content: center;
            gap: 15px;

            margin: 0;
        }
    }


}